.halls {
  margin: 0 auto;
}

.halls-title {
  text-align: center;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.halls-subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
  white-space: pre-line;
}

.halls-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  height: 710px;
  background-image: url("../img/80s-vibes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.halls-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  height: 710px;
  background-image: url("../img/star-wars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.halls-container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  height: 710px;
  background-image: url("../img/wild-west.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.halls-container-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  height: 710px;
  background-image: url("../img/neon-style.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}