* {
  box-sizing: border-box;
}

body {
  background-color: #1B1A1B;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
}

h1, h2 {
  margin: 0;
  padding: 0px;
}

blockquote {
  text-transform: uppercase;
}

.wrapper {
  width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  height: 823px;

  background-image: url("img/banner-image.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 675px;
}

.title {
  margin-top: 116px;
  font-weight: 900;
  font-size: 150px;
  line-height: 150px;
  text-transform: uppercase;
}

.subtitle {
	margin-left: 100px;
  font-weight: 900;
  font-size: 28px;
  line-height: 50px;
}

/* .banner-image {
  width: 675px;
  height: 300px;
  object-position: bottom;
} */