.place__main-image_style_1 {
  background-image: url("../img/80s-banner.jpg");
}

.others__room_img_80s-1 {
  background-image: url("../img/wild-west.jpg");
}

.others__room_img_80s-2 {
  background-image: url("../img/star-wars.jpg");
}

.others__room_img_80s-3 {
  background-image: url("../img/neon-1440-mini.jpg");
}