.about__title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.about__box-wrapper {
  display: flex;
}

.about__box-content_position_left {
  margin-right: 80px;
  max-width: 600px;
  max-height: 596px;
}

.about__image {
  width: 100%;
}

.about__box-content_position_right {
  max-width: 500px;
  max-height: 595px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  white-space: pre-line;
  margin-bottom: 48px;
  }

.about__box-quote {
  display: flex;
}

.about__qoute-symbol {
  color: var(--second-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 50px; 
  text-transform: uppercase;
}

.about__quote {
  display: inline;
  text-align: left;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  white-space: pre-line;
  margin-bottom: 40px;
  margin-left: 15px;
}

.about__quote::after {
  content: " ”";
  color: var(--second-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 50px; 
  text-transform: uppercase;
}

.about__box-author {
  display: flex;
  align-items: center;
  justify-content: right;
}

.about__author-image {
  margin-right: 30px;
}

.about__author-name {
  text-align: left;
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: none;
  font-style: normal;
  white-space: pre-line;
  float: right;
}

@media (max-width: 1024px) {
  .about-page {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .about__title {
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 133%;
  }
  
  .about__box-content_position_left {
    margin-right: 39px;
    max-width: 420px;
    max-height: 417px;
  }
  
  .about__image {
    max-width: 420px;
  }
  
  .about__box-content_position_right {
    max-width: 444px;
    max-height: 504px;
  }
  
  .about__text {
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 133%;
  }
  
  .about__qoute-symbol {
    font-size: 30px;
    line-height: 120%;
  }
  
  .about__quote {
    margin-bottom: 13px;
    margin-left: 10px;
    font-size: 30px;
    line-height: 120%;
  }
  
  .about__quote::after {
    font-size: 30px;
    line-height: 120%;
  }
  
  .about__author-image {
    margin-right: 35px;
  }
  
  .about__author-name {
    font-size: 18px;
    line-height: 144%;
  }
}