.banner {
  position: relative;
  height: 823px;
}

.banner::after {
  content: "";
  width: 675px;
  height: 762px;
  position: absolute;
  right: 30px;
  bottom: 0;
  z-index: 1;

  background-image: url("../img/banner-img.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.banner__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 150px;
  text-transform: uppercase;
  letter-spacing: -15px;
}

.banner__subtitle {
  margin-bottom: 30px;
	padding-left: 100px;
  
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
}

.banner__box-content {
  display: flex;
  gap: 40px;
  align-items: flex-end;
  margin-bottom: 150px;
}

.banner__box-text_position_left {
  width: 193px;
}

.banner__box-text_position_right {
  width: 166px;
}

.banner__text {
  text-align: center;
  font-size: 30px;
}

.banner__text_color_purple {
  color: var(--main-color);
}

.banner__text_size_100 {
  font-size: 100px;
  font-weight: 900;
}

.banner__text_size_75 {
  color: var(--main-color);
  font-size: 75px;
  font-weight: 900;
  font-variant: all-small-caps;
}

.banner__button {
  position: relative;
  z-index: 1;
  padding: 25px 69px;
  border-radius: 10px;
  background-color: var(--second-color);

  color: var(--white-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.banner__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  filter: blur(10px);
  z-index: -1;
}

.banner__button:hover, .banner__button:focus {
  background-color: var(--background-second);
}

.banner__button:active {
  background-color: var(--hover-second);
}

.banner__link-down {
  width: 97px;
  height: 97px;
  position: absolute;
  right: 574px;
  bottom: 90px;
  z-index: 2;
  outline: none;
  transition: background-image 0.3s ease-in-out;

  background-image: url("../img/down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 0.3s;
}

.banner__link-down:hover {
  background-image: url("../img/down-hover.svg");
}

.banner__link-down:focus {
  background-image: url("../img/down-focus.svg");
}

.banner__link-down:active {
  background-image: url("../img/down-active.svg");
}

@media (max-width: 1024px) {
  .banner {
    height: 583px;
  }
  
  .banner::after {
    width: 453px;
    height: 512px;
    right: 60px;
  }
  
  .banner__title {
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -0.1em;
    margin-bottom: 20px;
  }
  
  .banner__subtitle {
    font-size: 22px;
    line-height: 136%;
  }
  
  .banner__box-content {
    margin-bottom: 80px;
  }
  
  .banner__box-text_position_left {
    width: 168px;
  }
  
  .banner__box-text_position_right {
    width: 140px;
  }
  
  .banner__text {
    font-size: 26px;
  }
  
  .banner__text_size_100 {
    font-size: 80px;
  }
  
  .banner__text_size_75 {
    font-size: 60px;
  }
  
  .banner__button {
    padding: 17px 48px;
    font-size: 22px;
    line-height: 136%;
    margin-left: 39px;
  }
  
  .banner__button::before {
    filter: blur(20px);
  }
  
  .banner__link-down {
    width: 67px;
    height: 67px;
    position: absolute;
    right: 479px;
    bottom: 46px;
  }
  
  .banner__link-down:hover {
    background-image: url("../img/down-hover.svg");
  }
  
  .banner__link-down:focus {
    background-image: url("../img/down-focus.svg");
  }
  
  .banner__link-down:active {
    background-image: url("../img/down-active.svg");
  }
}