.banner {
  height: 823px;

  background-image: url("../img/banner-image.svg");
  background-position: bottom right 30px;
  background-repeat: no-repeat;
  background-size: 675px;
}

.banner__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 150px;
  text-transform: uppercase;
  letter-spacing: -15px;
}

.banner__subtitle {
	padding-left: 100px;
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
}