.contacts-page {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__box-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 155px;
}

.contacts__box-content_position_left {
  width: 440px;
}

.contacts__map-image {
  width: 680px;
  height: 274px;
}

.contacts__title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.contacts__address-area {
  margin-bottom: 40px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.contacts__box-address_block_place {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 35px;
}

.contacts__address-icon {
  fill: #CD06FF;
  margin-right: 30px;
}

.contacts__address-place {
  white-space: pre-line;
}

.contacts__address-place:hover {
  color: rgb(64, 166, 255);
}

.contacts__address-phone:hover {
  color: rgb(64, 166, 255);
}

.contacts__address-email:hover {
  color: rgb(64, 166, 255);
}

.contacts__box-address_block_phone {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}

.contacts__box-address_block_email {
  display: flex;
  justify-content: left;
  align-items: center;
}

.contacts__navigation-list {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 26px;
}

.contacts__navigation-icon {
  /* animation: animation 4s infinite alternate; */
  fill: #FFF;
}

.contacts__navigation-icon:hover {
  fill: rgb(64, 166, 255);
}

/* @keyframes animation {
  from {
    fill: rgb(134, 141, 203);
  }
  to {
    fill: rgb(156, 96, 252);
  }
} */

.contacts__footer {
  display: flex;
  justify-content: space-between;
}

.contacts__box-footer_position_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.contacts__footer-text {
  font-size: 14px;
  line-height: 16px;
}

.contacts__footer-text:hover {
  color: rgb(64, 166, 255);
}