.contacts__box-content {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.contacts__box-left {
  width: 440px;
}

.contacts__map-image {
  width: 680px;
  height: 274px;
}

.contacts__title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.contacts__address-area {
  margin-bottom: 40px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.contacts__box-address-name {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 35px;
}

.contacts__address-icon {
  fill: #CD06FF;
  margin-right: 30px;
}

.contacts__address-text {
  white-space: pre-line;
}

.contacts__box-address-phone {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}

.contacts__box-address-email {
  display: flex;
  justify-content: left;
  align-items: center;
}

.contacts__navigation-list {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 26px;
}

.contacts__navigation-icon {
  /* animation: animation 3s infinite alternate; */
  fill: #FFF;
}

/* @keyframes animation {
  from {
    fill: rgb(0, 68, 255);
  }
  to {
    fill: rgb(49, 0, 128);
  }
} */