.faq__title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.faq__element {
  background-color: var(--white-color);
  padding: 30px 70px;

  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: scale 0.4s;
}

.faq__element:not(:last-child)  {
  margin-bottom: 20px;
}

.faq__element:nth-child(even) {
  background-color: var(--background-first);
}

.faq__element:hover {
  scale: 1.05;
}

.faq__icon {
  width: 37px;
  height: 37px;

  background-repeat: no-repeat;
  background-size:  contain;
  transition: background-image 0.3s ease-in-out;
}

.faq__icon_color_white {
  background-image: url("../img/open.svg");
}

.faq__icon_color_white:hover {
  background-image: url("../img/open-hover.svg");
}

.faq__icon_color_white:active {
  background-image: url("../img/close-white.svg");
}

.faq__icon_color_purple {
  background-image: url("../img/open-purple.svg");
}

.faq__icon_color_purple:hover {
  background-image: url("../img/open-purple-hover.svg");
}

.faq__icon_color_purple:active {
  background-image: url("../img/close-purple.svg");
}

.faq__text {
  color: var(--text-first);
  font-weight: 700;
  font-size: 24px;
}

.faq__text_color_white {
  color: var(--white-color);
}

@media (max-width: 1024px) {
  .faq-page {
    padding-bottom: 40px;
  }

  .faq__title {
    font-size: 30px;
    line-height: 133%;
    margin-bottom: 26px;
  }
  
  .faq__element {
    padding: 23px 20px 23px 25px;
  }
  
  .faq__element:not(:last-child)  {
    margin-bottom: 16px;
  }
  
  .faq__icon {
    width: 46px;
    height: 46px;
  }
  
  .faq__text {
    font-size: 20px;
    line-height: 120%;
  }

  .faq__text_color_white {
    color: var(--text-first);
  }

  .faq__element:nth-child(even) {
    background-color: var(--white-color);
  }

  .faq__icon_color_white {
    background-image: url(../img/open-purple.svg);
  }
}

@media (max-width: 768px) {
  .faq-page {
    padding-bottom: 24px;
  }

  .faq__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 108%;
  }
  
  .faq__element {
    padding: 23px 65px 24px 54px;
  }
  
  .faq__element:not(:last-child)  {
    margin-bottom: 16px;
  }

  .faq__element:last-child  {
    display: none;
  }
  
  .faq__icon {
    width: 46px;
    height: 46px;
  }
  
  .faq__text {
    font-size: 18px;
    line-height: 133%;
  }
}

