.contacts {
  padding: 50px 0;
}

.contacts__title {
  text-align: center;
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.contacts__address-area {
  margin-bottom: 40px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.contacts__address-text {
  display: flex;
  justify-content: left;
  align-items: center;
  white-space: pre-line;
  margin-bottom: 35px;
}

.contacts__address-text::before {
  content: "";
  background-image: url("../img/location.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 32px;
  margin-right: 30px;
}

.contacts__address-number {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}

.contacts__address-number::before {
  content: "";
  background-image: url("../img/phone-call.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 32px;
  margin-right: 30px;
}

.contacts__address-email {
  display: flex;
  justify-content: left;
  align-items: center;
}

.contacts__address-email::before {
  content: "";
  background-image: url("../img/mailto.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 32px;
  margin-right: 30px;
}

.contacts__navigation-list {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 26px;
}