.header {
  padding-top: 30px;
}

.header__box-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__box-burger {
  display: none;
}

.header__logo {
  display: block;
  width: 120px;
  height: 66px;
  padding-left: 15px;

  background: url(../img/header-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.header__list {
  display: flex;
  gap: 40px;
}

.header__item {
  font-size: 22px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
}

.header__link:hover {
  color: var(--main-color);
}

.header__button {
  border: 3px solid var(--main-color);
  border-radius: 10px;
  padding: 9px 29px 10px;
  width: 286px;
  height: 61px;

  color: var(--white-color);
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  outline: none;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.header__button:hover, .header__button:focus {
  background-color: var(--second-color);
  border: 3px solid var(--second-color);
}

.header__button:active {
  background-color: var(--hover-second);
  border: 1px solid var(--black-color);
}

@media (max-width: 1024px) {
  .header__logo {
    width: 87px;
    height: 55px;
    padding-left: 0px;
  }

  .header__list {
    gap: 20px;
  }

  .header__item {
    font-size: 18px;
    line-height: 122%;
  }

  .header__button {
    border: 3px solid var(--main-color);
    border-radius: 8px;
    padding: 9px 29px 10px;
    width: 229px;
    height: 45px;
    font-size: 18px;
    line-height: 100%;
    padding: 7px 23px 8px;
  }
}

@media (max-width: 768px) {
  .header__box-burger {
    display: block;
  }

  .header__burger {
    background-image: url(../img/burger.svg);
    width: 54px;
    height: 29px;
  }

  .header__box-nav {
    display: none;
  }
}

@media (max-width: 320px) {
  .header__box-burger {
    display: block;
  }
  
  .header__box-button {
    display: none;
  }

  .header__burger {
    background-image: url(../img/burger.svg);
    width: 54px;
    height: 29px;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .header__logo {
    width: 66px;
    height: 42px;
  }

  .header__burger {
    background-image: url(../img/burger-320.svg);
    width: 39px;
    height: 20px;
}

  .header__box-nav {
    display: none;
  }
}