.reservation__title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.reservation-page {
  background-color: #440F51;
}

.section-custom {
  padding: 80px 0;
}

/* Стилизация одинаковых элементов формы */

.reservation__fieldset {
  border: none;
  padding: 0;
}

.reservation__legend {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

/* Стилизация первой секции формы */

.reservation__subtitle {
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.reservation__box_block_first {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 60px;
}

.reservation__label_block_first {
  padding: 7px 15px 8px;
  border-radius: 8px;
  background-color: #FFF;
  user-select: none;
  
  width: 250px;
  height: 55px;
  flex-shrink: 0;

  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  z-index: 1;
}

.reservation__label_block_first:has(.reservation__input_block_first:checked) {
  background-color: #6C0287;
  outline: 3px solid #FFF;
}

.reservation__label_block_first:hover {
  background-color: #EADEED;
	outline: 3px solid #640AA3;
}

/* .reservation__label_block_first:focus {
  background-color: #FFF;
  outline: 3px solid #640AA3;
} */

.reservation__label_block_first:active {
  background-color: #6C0287;
  outline: 3px solid #FFF;
}

.reservation__input_block_first{
  display: none;
}

/* .reservation__input_block_first:focus + .reservation__label_block_first {
  background-color: #FFF;
  border: 3px solid #640AA3;
} */

/* Стилизация второй секции формы */

.reservation__container-small {
  max-width: 1040px;
  padding: 0 30px;
  margin: 0 auto;
}

.reservation__box_block_second {
  display: flex;
  margin-bottom: 60px;

  justify-content: space-between;
}

.reservation__legend_block_second {
  margin-bottom: 23px;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.reservation__box-content_block_second {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reservation__label_block_second {
  width: 222px;
  display: flex;
  gap: 12px;

  font-size: 22px;
  font-weight: 400;
}

.reservation__input_block_second {
  position: relative;
  width: 25px;
  height: 25px;
  outline: none;
}

.reservation__input_block_second:focus {
  /* оказывается можно сделать и просто через outline без дополнительных элементов span*
  /* так как border свойство почему-то не применяется к этим инпутам, можете сами попробовать, выкрутился через span */
  /* и только под конец, открыл для себя outline и переделал  много состояний (а то с border размеры скачат у элементов) */
  /* outline: 1px solid #CD06FF; */
}

.reservation__mark {
  display: none;
}

.reservation__input_block_second:focus + .reservation__mark {
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid #CD06FF;
  position: absolute;
}

/* Стилизация третьей секции формы */

.reservation__box_block_third {
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
}

.reservation__box-third_position_left {
  position: relative;
  width: 300px;
  flex-wrap: wrap;
  gap: 36px 32px;
  display: flex;
}

.reservation__label-date {
  position:absolute;
  top: -23px;
  left: 0;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.reservation__label-time {
  position:absolute;
  top: -23px;
  left: 166px;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.reservation__label-number {
  position:absolute;
  top: 65px;
  left: 0;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.reservation__box-third_position_middle {
  position: relative;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  gap: 36px 32px;
}

.reservation__label-name {
  position:absolute;
  top: -23px;
  left: 0;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.reservation__label-surname {
  position:absolute;
  top: 65px;
  left: 0;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.reservation__box-third_position_right {
  position: relative;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 36px 32px;
}

.reservation__label-tel {
  position:absolute;
  top: -23px;
  left: 0;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.reservation__label-email {
  position:absolute;
  top: 65px;
  left: 0;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

/* Стилизация инпута date в третьей секции формы */

.reservation__input-date {
  position: relative;
  width: 134px;
  height: 52px;
  border: none;
  padding: 0;
  outline: none;
}

.reservation__input-date:focus {
  border: 2px solid #CD06FF;
}

/* .reservation__input-date::-webkit-datetime-edit {
  display: none;
} */

/* .reservation__input-date::before {
  content: "Дата";
  position: absolute;
  left: 20px;

  color: #211E1E;
  font-size: 18px;
  line-height: 28px;
} */

/* .reservation__input-date::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 27px;
  top: 18.5px;
  background-image: url("../img/picker.svg");
  background-repeat: no-repeat;
} */

.reservation__input-date::-webkit-datetime-edit {
  padding-left: 10px;
  padding-top: 2px;
}

.reservation__input-date::-webkit-calendar-picker-indicator {
  padding-right: 10px;
  background-image: url("../img/picker.svg");
  background-repeat: no-repeat;
}


/* Стилизация инпута time в третьей секции формы */

.reservation__input-time {
  position: relative;
  width: 134px;
  height: 52px;
  border: none;
  padding: 0;
  outline: none;
}

.reservation__input-time {
  position: relative;
  width: 134px;
  height: 52px;
  border: none;
  padding: 0;
}

.reservation__input-time:focus {
  border: 2px solid #CD06FF;
}

/* .reservation__input-time::-webkit-datetime-edit-hour-field {
  display: none;
}

.reservation__input-time::-webkit-datetime-edit-minute-field {
  display: none;
}

.reservation__input-time::-webkit-datetime-edit-text {
  display: none;
} */

/* .reservation__input-time::before {
  content: "Время";
  position: absolute;
  left: 20px;

  color: #211E1E;
  font-size: 18px;
  line-height: 28px;
} */

/* .reservation__input-time::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 27px;
  top: 18.5px;
  background-image: url("../img/picker.svg");
  background-repeat: no-repeat;
} */

.reservation__input-time::-webkit-datetime-edit-fields-wrapper {
  padding-left: 10px;
  padding-top: 2px;
  font-size: 16px;
}

.reservation__input-time::-webkit-calendar-picker-indicator {
  padding-right: 10px;
  background-image: url("../img/picker.svg");
  background-repeat: no-repeat;
}

/* Стилизация инпута number в третьей секции формы */

.reservation__input-number {
  width: 300px;
  height: 52px;
  border: none;
  padding: 0;
  padding-left: 10px;
  outline: none;
}

.reservation__input-number:focus {
  border: 2px solid #CD06FF;
}

/* Стилизация инпутов текстовых в третьей секции формы */ 
.reservation__input-name {
  width: 280px;
  height: 52px;
  border: none;
  padding: 0 10px;
  outline: none;
}

.reservation__input-name:focus {
  border: 2px solid #CD06FF;
}

.reservation__input-surname {
  width: 280px;
  height: 52px;
  border: none;
  padding: 0 10px;
  outline: none;
}

.reservation__input-surname:focus {
  border: 2px solid #CD06FF;
}

.reservation__input-tel {
  width: 300px;
  height: 52px;
  border: none;
  padding: 0 10px;
  outline: none;
}

.reservation__input-tel:focus {
  border: 2px solid #CD06FF;
}

.reservation__input-email {
  width: 300px;
  height: 52px;
  border: none;
  padding: 0 10px;
  outline: none;
}

.reservation__input-email:focus {
  border: 2px solid #CD06FF;
}

/* Стилизация секции с кнопкой */

.reservation__sending-area {
  display: flex;
  justify-content: flex-end;
}

.reservation__button {
  width: 300px;
  height: 60px;
  padding: 16px 50px;
  color: #6C0287;
  background-color: #FFF;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;

}

.reservation__button:hover {
  background-color: #EADEED;
  outline: 3px solid #6C0287;
}

.reservation__button:focus {
  background-color: #FFF;
  outline: 3px solid #6C0287;
}

.reservation__button:active {
  background-color: #EADEED;
  outline: none;
}