.container-review {
  max-width: 1040px;
  padding: 0 30px;
  margin: 0 auto;
}

.review__title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.review__element {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}

.review__element:last-child {
  margin-bottom: 0;
}

.review__image {
  margin-right: 20px;
  margin-bottom: 11px;
}

.review__figure {
  position: relative;
}

.review__figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 280px;
  
  border-radius: 140px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.00) 0%, rgba(108, 2, 135, 0.50) 100%);
  z-index: 2;
}

.review__caption {
  text-align: center;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.review__text {
  padding-top: 50px;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

@media (max-width: 1024px) {
  .review-page {
    padding-bottom: 40px;
  }

  .container-review {
    max-width: 810px;
  }
  
  .review__title {
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 133%;
  }
  
  .review__element {
    margin-bottom: 40px;
  }
  
  .review__image {
    margin: 0 auto 21px;
    width: 172px;
  }

  .review__figure {
    margin-right: 12px;
  }

  .review__figure::before {
    left: 26px;
    width: 172px;
    height: 172px;
  }
  
  .review__caption {
    font-size: 18px;
    line-height: 144%;
    width: 224px;
  }
  
  .review__text {
    padding-top: 33px;
    font-size: 18px;
    line-height: 144%;
  }  
}

@media (max-width: 768px) {
  .review-page {
    padding-bottom: 30px;
  }

  .container-review {
    max-width: 621px;
  }
  
  .review__title {
    margin-bottom: 31px;
    font-size: 24px;
    line-height: 150%;
  }
  
  .review__element {
    margin-bottom: 30px;
  }
  
  .review__image {
    margin: 0 0 17px;
    width: 153px;
  }

  .review__figure {
    margin-right: 12px;
  }

  .review__figure::before {
    left: 0px;
    width: 153px;
    height: 153px;
  }
  
  .review__caption {
    width: 156px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
  }
  
  .review__text {
    padding-top: 30px;
    font-size: 16px;
    line-height: 137%;
  }  
}
