.place__main-image_style_2 {
  background-image: url("../img/star-wars-banner.jpg");
}

.others__room_img_sw-1 {
  background-image: url("../img/80s-vibes.jpg");
}

.others__room_img_sw-2 {
  background-image: url("../img/wild-west.jpg");
}

.others__room_img_sw-3 {
  background-image: url("../img/neon-style.jpg");
}