.have-page {
  padding: 50px 0px 120px;
}

.we-have__box-title {
  width: 800px;
  margin: 0 auto 40px;
}

.we-have__title {
  text-align: center;

  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
} 

.we-have__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.we-have__item {
  display: flex;
  align-items: flex-end;
  padding: 6px 40px;
  width: 380px;
  height: 228px;

  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}

.we-have__item:hover {
  transform: scale(1.1);
}

.we-have__item_background_vr {
  background-image: url(../img/vr.png);
}

.we-have__item_background_audio {
  background-image: url(../img/audio.png);
}

.we-have__item_background_karaoke {
  background-image: url(../img/karaoke.png);
}

.we-have__item_background_games {
  background-image: url(../img/games.png);
}

.we-have__item_background_films {
  background-image: url(../img/films.png);
}

.we-have__item_background_playstation {
  background-image: url(../img/playstation.png);
}

.we-have__item_position_down {
  transform: translateY(70px);
}

.we-have__item-text {
  height: 56px;

  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  white-space: pre-line;
}

@media (max-width: 1024px) {
  .have-page {
    padding: 53px 0px 93px;
  }
  
  .we-have__box-title {
    width: 600px;
    margin: 0 auto 36px;
  }
  
  .we-have__title {
    font-size: 30px;
    line-height: 133%;
  } 
  
  .we-have__item {
    display: flex;
    align-items: flex-end;
    padding: 0;
    width: 287px;
    height: 172px;
  }
  
  .we-have__item:hover {
    transform: scale(1.1);
  }
  
  .we-have__item_background_vr {
    background-image: url(../img/vr.png);
    padding: 30px 20px;
  }
  
  .we-have__item_background_audio {
    background-image: url(../img/audio.png);
    padding: 2px 20px;
  }
  
  .we-have__item_background_karaoke {
    background-image: url(../img/karaoke.png);
    padding: 16px 20px;
  }
  
  .we-have__item_background_games {
    background-image: url(../img/games.png);
    padding: 16px 20px;
  }
  
  .we-have__item_background_films {
    background-image: url(../img/films.png);
    padding: 5px 20px;
  }
  
  .we-have__item_background_playstation {
    background-image: url(../img/playstation.png);
    padding: 16px 20px;
  }
  
  .we-have__item_position_down {
    transform: translateY(53px);
  }
  
  .we-have__item-text {
    height: auto;
    line-height: 140%;
  }
}

