.place__main-image_style_3 {
  background-image: url("../img/wild-west-banner.jpg");
}

.others__room_img_ww-1 {
  background-image: url("../img/star-wars.jpg");
}

.others__room_img_ww-2 {
  background-image: url("../img/neon-style.jpg");
}

.others__room_img_ww-3 {
  background-image: url("../img/80s-vibes.jpg");
}